.git
.github
.venv
.history
.azure
tmp
_docs
_evals
_images
_tests
_scripts
_data/synthetic_rl
**/node_modules
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/*.pyc
**/.env
**/.DS_Store
**/dist
**/build
