aiohttp==3.10.11
azure-cosmos
azure-identity==1.19.0
azure-monitor-opentelemetry
azure-monitor-opentelemetry-exporter
cryptography
fastapi[standard]
opentelemetry-api
opentelemetry-instrumentation
opentelemetry-instrumentation-fastapi
opentelemetry-sdk
prompty==2.0.0b2
prompty[azure]==2.0.0b2==0.1.40
pydantic
python-dotenv==1.0.1
PyJWT[crypto]
requests
uvicorn
