openapi: 3.0.3
info:
  title: Receivers Measure Summary API
  version: 0.1.0
  description: Contract for the cross-stack measure summary payload accepted by the receivers workbench.
servers:
  - url: https://dq-receivers-frontend.eastus2.cloudapp.azure.com
    description: Receivers AKS ingress
security:
  - bearerAuth: []
paths:
  /api/workbench/measure-summaries:
    post:
      summary: Receive a cohort measure summary
      operationId: receiveMeasureSummary
      description: Accepts a cohort-level measure rollup generated by submitters and stores it as a measure_summary document.
      tags:
        - measure-summaries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeasureSummaryPayload'
            examples:
              cmsCohortSummary:
                summary: Submitters summary for a CMS cohort
                value:
                  id: send-1718750100123
                  sourceStack: submitters
                  sourceSendId: send-1718750100123
                  sourceSubmissionId: sub-1718749900000
                  agency:
                    id: agency-cms
                    name: Centers for Medicare & Medicaid Services
                    shortName: CMS
                  program:
                    id: program-cms-mssp
                    name: Medicare Shared Savings Program
                    shortName: MSSP
                  cohort:
                    id: cohort-diabetes
                    name: Diabetes cohort
                    memberCount: 2
                  periodStart: '2025-01-01'
                  periodEnd: '2025-12-31'
                  engine: native-cql
                  measureIds:
                    - CMS122v11
                    - CMS165v9
                  perMeasure:
                    - measureId: CMS122v11
                      title: Diabetes HbA1c Poor Control
                      denominator: 2
                      numerator: 1
                      exclusions: 0
                      patients: 2
                      performanceRate: 0.5
                  perMember:
                    - memberId: p-cms122-001
                      displayName: Alex Morgan
                      perMeasure:
                        - measureId: CMS122v11
                          numerator: 1
                          denominator: 1
                          exclusion: false
                  note: Submitted from submitters workbench
                  generatedAt: 1718750100123
      responses:
        '200':
          description: Summary accepted and persisted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeasureSummaryResponse'
        '400':
          description: Request body failed FastAPI or Pydantic validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FastApiValidationError'
        '401':
          description: Authentication failed or was not provided.
        '500':
          description: Summary could not be persisted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    MeasureSummaryPayload:
      type: object
      required:
        - agency
        - cohort
      properties:
        id:
          type: string
          nullable: true
          description: Caller-provided summary id. Receivers generate one when omitted.
        sourceStack:
          type: string
          default: submitters
        sourceSendId:
          type: string
          nullable: true
        sourceSubmissionId:
          type: string
          nullable: true
        agency:
          $ref: '#/components/schemas/MeasureSummaryAgency'
        program:
          $ref: '#/components/schemas/MeasureSummaryProgram'
        cohort:
          $ref: '#/components/schemas/MeasureSummaryCohort'
        periodStart:
          type: string
          format: date
          nullable: true
        periodEnd:
          type: string
          format: date
          nullable: true
        engine:
          type: string
          nullable: true
          description: Evaluation engine hint, such as native-cql, ai-cql, or local-stub.
        measureIds:
          type: array
          items:
            type: string
          default: []
        perMeasure:
          type: array
          items:
            $ref: '#/components/schemas/MeasureSummaryRollup'
          default: []
        perMember:
          type: array
          items:
            $ref: '#/components/schemas/MeasureSummaryMember'
          default: []
        note:
          type: string
          default: ''
        generatedAt:
          type: integer
          format: int64
          nullable: true
          description: Epoch milliseconds assigned by submitters.
    MeasureSummaryAgency:
      type: object
      required:
        - id
      properties:
        id:
          type: string
        name:
          type: string
          nullable: true
        shortName:
          type: string
          nullable: true
    MeasureSummaryProgram:
      type: object
      properties:
        id:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        shortName:
          type: string
          nullable: true
    MeasureSummaryCohort:
      type: object
      required:
        - id
      properties:
        id:
          type: string
        name:
          type: string
          nullable: true
        memberCount:
          type: integer
          minimum: 0
          nullable: true
    MeasureSummaryRollup:
      type: object
      required:
        - measureId
      properties:
        measureId:
          type: string
        title:
          type: string
          nullable: true
        denominator:
          type: integer
          minimum: 0
          default: 0
        numerator:
          type: integer
          minimum: 0
          default: 0
        exclusions:
          type: integer
          minimum: 0
          default: 0
        patients:
          type: integer
          minimum: 0
          default: 0
        performanceRate:
          type: number
          format: double
          nullable: true
          minimum: 0
          maximum: 1
    MeasureSummaryMember:
      type: object
      required:
        - memberId
      properties:
        memberId:
          type: string
        displayName:
          type: string
          nullable: true
        perMeasure:
          type: array
          items:
            $ref: '#/components/schemas/MeasureSummaryPerMember'
          default: []
    MeasureSummaryPerMember:
      type: object
      required:
        - measureId
      properties:
        measureId:
          type: string
        numerator:
          type: integer
          nullable: true
        denominator:
          type: integer
          nullable: true
        exclusion:
          type: boolean
          nullable: true
    PersistedMeasureSummary:
      allOf:
        - $ref: '#/components/schemas/MeasureSummaryPayload'
        - type: object
          required:
            - id
            - docType
            - receivedAt
            - status
          properties:
            id:
              type: string
            docType:
              type: string
              enum:
                - measure_summary
            receivedAt:
              type: integer
              format: int64
            status:
              type: string
              enum:
                - received
    MeasureSummaryResponse:
      type: object
      required:
        - summary
      properties:
        summary:
          $ref: '#/components/schemas/PersistedMeasureSummary'
    ErrorResponse:
      type: object
      properties:
        detail:
          oneOf:
            - type: string
            - type: array
              items:
                type: object
    FastApiValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            type: object
            properties:
              loc:
                type: array
                items:
                  oneOf:
                    - type: string
                    - type: integer
              msg:
                type: string
              type:
                type: string